header
	.logo
		a(href='/')
			img(src='/images/logo.svg' alt='Tany4 logo')
	.about
		.social
			a.socialLink(href='/social') Let's connect
			.socialLogos
				a.icon.icon-stackoverflow(href='http://stackoverflow.com/story/tany4')
				a.icon.icon-linkedin2(href='http://www.linkedin.com/in/taniapapazaf')
				a.icon.icon-github(href='http://www.github.com/altany')
			