header
	.logo
		a(href='/')
			img(src='/images/logo.svg' alt='Tany4 logo')
	.about
		a(href='/social')
			.socialLink More about my work
			.socialLogos
				span.icon-stackoverflow
				span.icon-linkedin2
				span.icon-github
			