/*********************
    * Variables
    *********************/

$footerHeight: 40px
$stackOverflowOrange: #f69c55
$linkedInBlue: #0077b5
$githubBlack: #000000
$githubPurple: #6e5494
$cvGray: #5d5d5d
$googleRed: #dd4b39
$githubLightBlue: #f2f9fc
$githubBlue: #c9e6f2
$githubGray: #68777d
$githubLinkBlue: #4078c0
$gitlabOrange: #e24329

/*********************
    * Breakpoints
    *********************/

@mixin breakpoint($point)
	@if $point == desktop
		@media (min-width: 1024px)
			@content

	@else if $point == laptop
		@media (max-width: 1024px)
			@content

	@else if $point == tablet
		@media (min-width: 800px)
			@content

	@else if $point == phablet
		@media (min-width: 600px)
			@content

	@else if $point == mobileonly
		@media (max-width: 600px)
			@content
	@else
		@warn "Breakpoint mixin supports: desktop, laptop, tablet, phablet and mobileonly"


/*********************
    * Cross-browser
    *********************/

@mixin transition($transition)
	-moz-transition:    $transition
	-o-transition:      $transition
	-webkit-transition: $transition
	transition:         $transition

@mixin border-radius($side: '', $radius:5px)
	-webkit-border#{$side}-radius: $radius
	-moz-border#{$side}-radius: $radius
	-ms-border#{$side}-radius: $radius
	border#{$side}-radius: $radius
