{
  "plugins": [
      "react"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
        "modules": true,
        "jsx": true
    }
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}
