@import "mixins";

body
	margin: 0
	*
		font-family: 'Open Sans', sans-serif
	header
		height: 80px
		padding: 15px
		margin-bottom: 10px
		box-shadow: 0 2px 10px rgba(166, 46, 145, 0.49)
		.logo, .about
			display: inline-block
			vertical-align: middle
		.logo
			width: 250px
		.about
			width: calc(100% - 260px)
			text-align: right
			a
				text-decoration: none
				color: darkmagenta
				font-size: 20px
			.socialLogos
				display: none
				text-align: right
				[class^="icon-"]
					margin-left: 10px
					font-size: 22px
					color: #775e84
		@include breakpoint(mobileonly)
			.logo
				width: 160px
			.about
				display: block
				width: 100%
				.socialLink
					display: none
				.socialLogos
					display: block
					
	
				