extends layout
block content
	
	p.intro Check out my Github profile on 
		a(href='http://www.github.com/altany')
			img(title='altany on Github' src='https://a248.e.akamai.net/assets.github.com/images/icons/emoji/octocat.png')
	
	h2 Github API Playground
	
	p This page contains a list of my Github repos. All the data is retrieved through the 
		a(href='https://developer.github.com/v3/') Github API v3
	
	if warning
		p.warning= warning
	if repos && repos.length
		each repo in repos
			.repoContainer
				h3.repoName
					a(href=repo.html_url)= repo.name
				.readme!= repo.readme