extends layout
block content
	.greeting
		.profileImg
			img(src='/images/profile.svg', alt='Greeting')
		.info
			h1 Tania Papazafeiropoulou
			h2 Web Developer
			.statement
				p Hi, I'm Tania and I love beautiful and practical web sites!
				p I enjoy building captivating UIs that make the experience easy and fun. My favourite technologies right now are Node.js and React. Lately, I have been working with React Native and exploring TDD using tools like Mocha.
				p I currently work as a Full Stack Web Developer, using Node.js, ReactJS, AngularJS, jQuery, Sass and more.
			a.connect(href='/social') Let's connect
