extends layout
block content
	.greeting
		.profileImg
			img(src='/images/profile.gif', alt='Greeting')
		.info
			h1 Tania Papazafeiropoulou
			h2 Web Developer
			.statement 
				p Hi, I'm Tania and I love beautiful and practical web sites!
				p I enjoy building captivating UIs that make the experience easy and fun. My latest favourites are node and react, and I'm a fan of microservices as a means of handling scale and complexity.
				p I currently work as a Full Stack Web Developer, using Node.js, ReactJS, AngularJS, jQuery, Sass and more.
			a.connect(href='/social') Let's connect
