extends layout
block content
	.greeting
		.profileImg
			img(src='/images/profile.gif', alt='Greeting')
		.info
			h1 Tania Papazafeiropoulou
			h2 Web Developer
			p.statement Hello, my name is Tania and I am a Full Stack Web Developer with a real passion for Front-End. I love creating user friendly web apps using Node.js, AngularJS, jQuery, Sass and more.
			a.connect(href='/social') Let's connect
