extends layout
block content
	
	h1 Let's connect
	
	.links
		.link
			a.icon.icon-profile(href='/TaniaPapazafeiropoulou-CV')
				label My CV
		.link
			a.icon.icon-linkedin2(href='http://www.linkedin.com/in/taniapapazaf', title='LinkedIn')
				label LinkedIn
		.link
			a.icon.icon-github(href='/github', title='Github')
				label Github 
					span.rainbow Playground
		.link
			a.icon.icon-stackoverflow(href='http://stackoverflow.com/story/tany4', title='Stackoverflow Story')
				label StackOverflow
		.link
			a.icon.icon-envelop(href='mailto:hello@tany4.com?Subject=Tany4:%20%Hi!' target='_top')
				label hello@tany4.com