@font-face {
  font-family: 'icomoon';
  src: url(/fonts/icomoon.eot?y2d4pi);
  src: url(/fonts/icomoon.eot?y2d4pi#iefix) format("embedded-opentype"), url(/fonts/icomoon.ttf?y2d4pi) format("truetype"), url(/fonts/icomoon.woff?y2d4pi) format("font-woff"), url(/fonts/icomoon.svg?y2d4pi#icomoon) format("svg");
  font-weight: normal;
  font-style: normal; }

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-envelop:before {
  content: "\E945"; }

.icon-github:before {
  content: "\EAB0"; }

.icon-linkedin2:before {
  content: "\EACA"; }

.icon-stackoverflow:before {
  content: "\EAD0"; }

.icon-profile:before {
  content: "\E923"; }

/*********************
    * Variables
    *********************/
/*********************
    * Breakpoints
    *********************/
/*********************
    * Cross-browser
    *********************/
html, body {
  height: 100%;
  margin: 0; }

body a {
  text-decoration: none; }

body * {
  font-family: 'Open Sans', sans-serif; }

body header {
  height: 80px;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 2px 10px rgba(166, 46, 145, 0.49); }
  @media (min-width: 1024px) {
    body header {
      padding: 15px calc(50% - 512px); } }
  body header .logo {
    float: left;
    width: 250px; }
  body header .about {
    float: right;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    text-align: right; }
    @media (min-width: 600px) {
      body header .about {
        padding: 20px 0 30px 0; } }
    body header .about .socialLink {
      color: darkmagenta;
      font-size: 20px; }
    body header .about .socialLogos {
      -moz-transition: all 200ms;
      -o-transition: all 200ms;
      -webkit-transition: all 200ms;
      transition: all 200ms; }
      body header .about .socialLogos a {
        color: #775e84;
        font-size: 25px; }

body .wrapper {
  min-height: 100%;
  margin: 0 auto -40px; }

body .pageContent {
  margin: 0 auto; }
  body .pageContent:after {
    content: ' ';
    display: block;
    clear: both; }
  @media (min-width: 600px) {
    body .pageContent {
      width: 600px;
      padding-top: 15px; } }
  @media (min-width: 1024px) {
    body .pageContent {
      width: 1024px; } }
  @media (min-width: 800px) {
    body .pageContent {
      width: 800px; } }
  @media (max-width: 600px) {
    body .pageContent {
      padding: 25px 5% 0;
      overflow-wrap: break-word; } }

body footer, body .push {
  height: 40px; }

body footer {
  position: relative; }
  body footer .copyright {
    text-align: center;
    font-size: 12px;
    position: absolute;
    bottom: 5px;
    right: 5px; }

body.no-touch header .about .social {
  float: right;
  position: relative; }

body.no-touch header .about .socialLogos {
  opacity: 0;
  position: absolute;
  top: 20px;
  left: calc(50% - 10px);
  text-align: initial; }
  body.no-touch header .about .socialLogos a {
    top: 0;
    position: absolute;
    -moz-transition: all 500ms cubic-bezier(0.64, 0.57, 0.67, 1.53);
    -o-transition: all 500ms cubic-bezier(0.64, 0.57, 0.67, 1.53);
    -webkit-transition: all 500ms cubic-bezier(0.64, 0.57, 0.67, 1.53);
    transition: all 500ms cubic-bezier(0.64, 0.57, 0.67, 1.53); }
  body.no-touch header .about .socialLogos .icon-stackoverflow {
    right: 25px; }
  body.no-touch header .about .socialLogos .icon-github {
    left: 45px; }

body.no-touch header .about:hover {
  margin-top: -10px;
  padding-bottom: 50px; }
  body.no-touch header .about:hover .socialLogos {
    opacity: 1; }
    body.no-touch header .about:hover .socialLogos a {
      top: 20px; }
      body.no-touch header .about:hover .socialLogos a:hover.icon-stackoverflow {
        color: #f69c55; }
      body.no-touch header .about:hover .socialLogos a:hover.icon-linkedin2 {
        color: #0077b5; }
      body.no-touch header .about:hover .socialLogos a:hover.icon-github {
        color: #000000; }

@media (max-width: 600px) {
  body.no-touch header .logo {
    width: 230px; } }

body.touch header .about {
  display: block;
  width: 200px; }
  body.touch header .about .socialLink {
    display: none; }
  body.touch header .about .socialLogos {
    text-align: right; }
    body.touch header .about .socialLogos a {
      margin-left: 18px; }

@media (max-width: 1024px) {
  body.touch header .logo {
    max-width: 200px; } }

@media (max-width: 600px) {
  body.touch header .logo {
    width: 160px; }
  body.touch header .about {
    width: 100%; } }

.warning {
  background: #fff4cc;
    background-border-color: #ffe070;
  padding: 10px; }

.rainbow {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #ef639a), color-stop(0.2, #ef639a), color-stop(0.4, #a479b4), color-stop(0.6, #a479b4), color-stop(0.7, #8b008b), color-stop(0.8, #8b008b), color-stop(1, #ef639a));
  background-image: gradient(linear, left top, right top, color-stop(0, #ef639a), color-stop(0.2, #ef639a), color-stop(0.4, #a479b4), color-stop(0.6, #a479b4), color-stop(0.7, #8b008b), color-stop(0.8, #8b008b), color-stop(1, #ef639a));
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text; }

#home .profileImg {
  float: left;
  width: 250px; }
  #home .profileImg img {
    max-width: 100%;
    height: auto; }

#home .connect {
  font-weight: bold;
  text-align: center;
  display: block;
  margin-top: 50px;
  margin-bottom: 25px;
  color: #ad1477;
  font-size: 25px; }

@media (min-width: 600px) {
  #home {
    margin-top: 40px; }
    #home .profileImg {
      max-width: 30%; }
    #home .info {
      float: right;
      width: 65%; } }

@media (max-width: 600px) {
  #home .profileImg {
    width: 120px; }
    #home .profileImg img {
      width: 100px; }
  #home h1 {
    font-size: 19px; }
  #home h2 {
    font-size: 15px; }
  #home .connect {
    font-size: 16px; } }

.no-touch .connect {
  display: none; }

#social h1 {
  margin: 50px 0; }

#social .link {
  margin-bottom: 20px;
  position: relative; }

#social a.icon {
  font-size: 35px; }
  #social a.icon.icon-profile {
    color: #5d5d5d; }
  #social a.icon.icon-linkedin2 {
    color: #0077b5; }
  #social a.icon.icon-github {
    color: #6e5494; }
  #social a.icon.icon-stackoverflow {
    color: #f69c55; }
  #social a.icon.icon-envelop {
    color: #dd4b39; }
  #social a.icon label {
    font-size: 18px;
    margin-left: 15px;
    color: black;
    cursor: pointer;
    position: absolute;
    top: 10px; }

@media (max-width: 600px) {
  #social h1 {
    margin: 10px 0 30px 0;
    font-size: 25px; }
  #social .link {
    margin-bottom: 15px; } }

#github img {
  max-width: 100%; }

#github .intro img {
  height: 40px; }

#github .repoContainer {
  margin-bottom: 20px; }
  #github .repoContainer .repoName, #github .repoContainer .readme {
    width: calc(100% - 40px); }
  #github .repoContainer .repoName {
    background-color: #f2f9fc;
    padding: 20px;
    border: 1px solid #c9e6f2;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -ms-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -ms-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    margin: 0; }
    #github .repoContainer .repoName a {
      color: #333; }
    #github .repoContainer .repoName .lastCommit {
      font-size: 11px;
      color: #68777d; }
      #github .repoContainer .repoName .lastCommit a {
        color: #4078c0;
        font-size: 12px; }
  #github .repoContainer .readme {
    font-size: 13px;
    display: inline-block;
    border: 1px solid #ddd;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    -ms-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -ms-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px 20px; }
    #github .repoContainer .readme h1 {
      font-size: 20px; }

@media (max-width: 600px) {
  #github iframe {
    max-width: 100%; } }

/*# sourceMappingURL=style.css.map*/