<!DOCTYPE html>
<html>
<head>
	<% include ../partials/node/header.ejs %>
</head>
<body>
	<a href="/startNode">Link to original index</a><br>
	<a href="https://github.com/altany">GitHub</a><br>
	<a href="https://uk.linkedin.com/in/taniapapazaf">LinkedIn</a>
</body>
</html>
